doctype html
html(ng-app="myapp")
  head
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js",type="application/javascript")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(ng-view)
      block content
    block content
