<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="hw8">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Optimize mobile viewport -->

    <title>Rui Luo's HW8</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
    <script src="//code.angularjs.org/1.2.20/angular-sanitize.min.js"></script>
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>



    <style>
        .container .jumbotron{
            background-color: white;
        }
        html                    { overflow-y:scroll;}
        body                    { padding-top:50px;
                                background-image: url("http://cs-server.usc.edu:45678/hw/hw8/images/background.png");
                                }
        .red{
            border: solid 3px red;
        }
        .ta_title{
            background-color: dimgrey;
        }
        .out_table{
            border:1px solid
        }
    </style>

    <!-- SPELLS -->
    <script src="javascripts/core.js"></script>
    <script src="javascripts/inputCtrl.js"></script>
    <script src="javascripts/refreshCtrl.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</head>






<body>
<!--class="col-md-6"-->

<div class="container">
    <div class="jumbotron" ng-controller="InputCtrl as ctrl" layout="column" ng-cloak="">
        <div style="text-align:center">Stock Market Search</div>
        <form ng-submit="" name="autocompleteForm" >
            <div class="row">

            <div class="col-md-3">
                Enter Stock Ticker Symbol:<span style="color:red">*</span>
            </div>
            <div class="col-md-6">
            <md-autocomplete
             ng-class="{red: autocompleteForm.autocomplete.$invalid}"
             required
             ng-minlength="10"
             md-input-name="autocomplete"
             md-selected-item="ctrl.selectedItem"
             md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
             md-search-text="ctrl.searchText"
             md-selected-item-change="ctrl.selectedItemChange(ctrl.searchText)"
             md-items="item in ctrl.querySearch(ctrl.searchText)"
             md-item-text="item.display"
             placeholder="e.g. AAPL">
                <md-item-template>
                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                </md-item-template>
            </md-autocomplete>
            </div>
            <div class="col-md-3">
                <button ng-click="ctrl.click()" type="button" value="Get Quote" class="btn btn-primary" ng-disabled="autocompleteForm.autocomplete.$invalid" aria-label="Left Align">
                    <span class="fa fa-search" aria-hidden="true"></span>Get Quote
                </button>
                <input type="reset" value="Clear " class="btn btn-default" ng-model="clear" ng-click="ctrl.reset()">
            </div>
            </div>
            <div ng-messages="autocompleteForm.autocomplete.$error" class="row">
                <div ng-message="required" class = "offset-md-3">Please enter a stock ticker symbol</div>
            </div>
        </form>
    </div>
</div>
<!--<div class="row justify-content-between">-->
    <!--<div>Favorite List</div>-->
    <!--<div>-->
        <!--<label>-->
            <!--Automatic Refresh:-->
            <!--<input type="checkbox" data-toggle="toggle" data-size="normal">-->
        <!--</label>-->
        <!--<button type="button" class="btn btn-default" aria-label="Left Align">-->
            <!--<span class="fa fa-refresh" aria-hidden="true"></span>-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-default" aria-label="Left Align">-->
            <!--<span class="fa fa-chevron-right" aria-hidden="true"></span>-->
        <!--</button>-->
    <!--</div>-->
<!--</div>-->

<div class = "container">
    <hr>
</div>

<div class="animate-switch-container" ng-switch on="ref.page" ng-animate="'animate'" ng-controller = "RefreshCtrl as ref">
    <div class = "container animate-switch" ng-class="{'toLeft': ref.toLeft, 'toRight': ref.toRight}" ng-switch-default>
        <div class="jumbotron">
            <div class="alert alert-secondary row align-items-center">
                <div class="col-auto mr-auto">Favorite List</div>
                <div class="col-auto row align-items-center">
                    Automatic Refresh:
                    <label class="switch">
                        <input type="checkbox" ng-model="ref.check" ng-change="ref.checkChange()">
                        <span class="slider"></span>
                    </label>
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="ref.refresh()">
                        <span class="fa fa-refresh" aria-hidden="true"></span>
                    </button>
                    <button ng-click="ref.pageToRight()" type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="fa fa-chevron-right" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="row">
                <label class="col-md-2" for="sortBy"> Sort by&emsp; </label><br>
                <select class="col-md-2" name="singleSelect" ng-model="ref.pro" ng-change="ref.refresh_order()">
                    <option value="default">Default</option>
                    <option value="symbol">Symbol</option>
                    <option value="price">Price</option>
                    <option value="text">Change</option>
                    <option value="change_percent">Change Percent</option>
                    <option value="volume">Volume</option>
                </select>
                <label class="col-md-2" for="orderBy"> Order&emsp; </label><br>
                <select class="col-md-2" name="singleSelect" ng-model="ref.order" ng-change="ref.refresh_order()" ng-disabled="ref.dis">
                    <option value="Ascending">Ascending</option>
                    <option value="Descending">Descending</option>
                </select><br>
                    <!--<div class="dropdown show">-->
                        <!--<a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                            <!--Dropdown link-->
                        <!--</a>-->
                        <!--<div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
                            <!--<a class="dropdown-item" href="">Default</a>-->
                            <!--<a class="dropdown-item" href="">Symbol</a>-->
                            <!--<a class="dropdown-item" href="">Price</a>-->
                            <!--<a class="dropdown-item" href="">Change</a>-->
                            <!--<a class="dropdown-item" href="">Change Percent</a>-->
                            <!--<a class="dropdown-item" href="">Volume</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--<div class="col-md-1">Order&emsp;</div>-->
                <!--<div class="col-md-2">-->
                    <!--<div class="dropdown show">-->
                        <!--<a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                            <!--Dropdown link-->
                        <!--</a>-->
                        <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
                            <!--<a class="dropdown-item" href="">Ascending</a>-->
                            <!--<a class="dropdown-item" href="">Descending</a>-->
                        <!--</div>-->
                    <!--</div>-->
            </div>
            <table  class="table out_table">
                <tr>
                    <table class="table table-striped table-hover">

                        <tr>
                            <th>Symbol</th>
                            <th>Stock Price</th>
                            <th>Change (Change Percent)</th>
                            <th>Volume</th>
                            <th> </th>
                        </tr>
                        <tr ng-repeat="x in ref.favoList" >
                        <td ng-click="ref.redraw(x.symbol)">{{ x.symbol }}</td>
                        <td ng-click="ref.redraw(x.symbol)">{{x.price}}</td>
                        <td ng-click="ref.redraw(x.symbol)" ng-style="{color : (x.change_price > 0 ? 'green' : 'red')}">{{x.text}}<img width="20px" height="20px" ng-init=" ref.url_key[ref.index] = ref.price['change_price'] > 0 ? ref.link_up:ref.link_down" ng-src="{{ref.url_key[ref.index]}}"></td>
                        <td ng-click="ref.redraw(x.symbol)">{{ x.volume }}</td>
                        <td ng-click="ref.deleteSpec(x.symbol)"><i class="fa fa-trash" aria-hidden="true"></i></td>
                        </tr>
                    </table>
                </tr>
            </table>
        </div>
    </div>

    <div class="container animate-switch" ng-animate="'animate'" ng-switch-when='2' ng-class="{'toLeft': ref.toLeft, 'toRight': ref.toRight}" >
        <div class="jumbotron">
            <!--<table class="table ">-->
                <!--<tr>-->

            <div class="row alert alert-secondary"  >
                    <button ng-click="ref.pageToLeft();ref.refresh()" type="button" class="btn btn-default float-left offset-md-0" aria-label="Left Align">
                        <span class="fa fa-chevron-left" aria-hidden="true"></span>
                    </button>
                    <h4 class="offset-md-5">
                        Stock Details
                    </h4>
            </div>

            <nav class="navbar navbar-expand-lg bg-light">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="" ng-click="ref.showCS()"><i class="fa fa-tachometer" aria-hidden="true"></i></span>Current Stock</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="" ng-click="ref.showHC()"><i class="fa fa-bar-chart" aria-hidden="true"></i>Historical Charts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="" ng-click="ref.showNF()"><i class="fa fa-paperclip" aria-hidden="true"></i>News Feeds</a>
                        </li>
                    </ul>
                </div>
            </nav>


            <div>
                <div>
                    <div ng-show="ref.cur_stock" class="ng-show row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-3 col-xs-3">current stock</div>
                                    <div class="md-offset-9 col-md-3 xs-offset-9 col-xs-3">
                                        <div class="btn-group" role="group" >
                                            <button class="button" ng-click="ref.mark()">
                                                <i class="fa fa-star-o" aria-hidden="true" ng-show="ref.bookmark" ng-class="ng-show" ></i>
                                                <i class="fa fa-star yello" aria-hidden="true" ng-show="!ref.bookmark" ng-class="ng-show"></i>
                                            </button>
                                            <button class="button" ng-click="ref.share()">
                                                <img src = "http://cs-server.usc.edu:45678/hw/hw8/images/facebook.png" height="29" width="22">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div ng-bind-html = "ref.wait_html" ng-show="ref.cur_stock_wait" class="ng-show"></div>
                                <div ng-bind-html = "ref.cur_stock_error_html" ng-show="ref.cur_stock_error" class="ng-show"></div>
                                <table class="table table-striped table-hover ng-show table-bordered" ng-show="ref.cur_form">
                                    <tr><td width="50%">Stock Ticker Symbol</td><td width="50%">{{ref.price["Stock Ticker Symbol"]}}</td></tr>
                                    <tr><td width="50%">Last Price</td><td width="50%"> {{ref.price["Last Price" ]}}</td></tr>
                                    <tr><td width="50%" >Change (Change Percent)</td><td width="50%" ng-style="{color : (ref.price['change_price'] > 0 ? 'green' : 'red')}">{{ref.price["Change (Change Percent)"]}}<img width="20px" height="20px" ng-init=" ref.url = ref.price['change_price'] > 0 ? ref.link_up:ref.link_down" ng-src="{{ref.url}}"></td></tr>
                                    <tr><td width="50%">Timestamp</td><td width="50%">{{ref.price["Timestamp"]}}</td></tr>
                                    <tr><td width="50%">Open</td><td width="50%">{{ref.price["Open"]}}</td></tr>
                                    <tr><td width="50%">Previous Close</td><td width="50%">{{ref.price["Previous Close"]}}</td></tr>
                                    <tr><td width="50%">Daily Range</td><td width="50%">{{ref.price["Daily Range"]}}</td></tr>
                                    <tr><td width="50%">Volume</td><td width="50%">{{ref.price["Volume"]}}</td></tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item" ng-repeat="ind in ref.inds" ng-click='ref.renderCharts(ind)'><a href="" >{{ind}} &emsp;</a></li>
                                </ul>
                                <div ng-bind-html = "ref.wait_html" ng-show="ref.indicators_wait" class="ng-show">sdfsdf</div>
                                <div ng-bind-html = "ref.ind_error_html" ng-show="ref.indicators_error" class="ng-show"></div>
                                <div id="chart" ng-show="ref.chart" class = "ng-show"></div>
                            </div>
                        </div>

                        <div ng-show="ref.his_charts" class="ng-show">
                            <td>
                            <div ng-show = "ref.his_charts_charts" class="ng-show" id="his_charts"> his chart show</div>
                            <div ng-bind-html = "ref.his_charts_error_html" ng-show="ref.his_charts_error" class="ng-show">his chart error</div>
                            <div ng-bind-html = "ref.wait_html" ng-show="ref.his_charts_wait" class="ng-show">sdfsdf</div>
                            </td>
                        </div>


                    <div ng-show="ref.sto_news" class="ng-show">
                        <table class="table">
                            <tr >
                                <td>
                                    <div ng-repeat= "ele in ref.news">
                                        <div class="alert alert-secondary" role="alert">
                                            <a href= "{{ele.link}}" target="_blank">{{ele.title}}</a>
                                            <p>Author:{{ele.author}}</p>
                                            <p>Date:{{ele.pubDate}}</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div ng-bind-html = "ref.news_error_html" ng-show="ref.sto_news_error" class="ng-show">his chart error</div>
                        <div ng-bind-html = "ref.wait_html" ng-show="ref.sto_news_wait" class="ng-show">sdfsdf</div>
                    </div>

                </div>
            </div>
    </div>
    </div>
</div>




</body>

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId            : 1799055690397584,
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v2.11'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>


</html>